data/
**/.DS_Store
data/**
.DS_Store
week-2/data
week-2/pre-processed-data/
week-2/data/**
week-2/pre-processed-data/**

week-2/mlruns/
week-2/mlruns/**
week2/.ipynb_checkpoints/
week2/.ipynb_checkpoints/**